<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Task</title>
    <!-- Bootstrap -->
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
<nav class="navbar navbar-inverse">
    <ul class="nav navbar-nav">
        <li {% if app.request.attributes.get('_route') == 'index' %}class="active"{% endif %}><a href="{{ path('index')}}">Home</a></li>
        <li {% if app.request.attributes.get('_route') == 'schools_index' %}class="active"{% endif %}><a href="{{ path('schools_index')}}">Schools</a></li>
        <li {% if app.request.attributes.get('_route') == 'teachers_index' %}class="active"{% endif %}><a href="{{ path('teachers_index')}}">Teachers</a></li>
    </ul>
</nav>
<div class="container">
    {% for label, messages in app.flashes %}
        {% for message in messages %}
            <div class="alert alert-{{ label }}">
                {{ message }}
            </div>
        {% endfor %}
    {% endfor %}
    {% block content %}
    {% endblock %}
</div>
</body>
</html>