{% extends 'base.html.twig' %}
{% block content %}
<h1>Welcome</h1>
<p>The following services are currently available:</p>
<ul>
    <li><a href="{{ path('schools_index') }}">Schools</a></li>
    <li><a href="{{ path('teachers_index') }}">Teachers</a></li>
</ul>
{% endblock %}