Page {{ paginator.page }} out of {{ paginator.total_pages }} (Total Rows: {{ paginator.total_rows }})
<ul class="pager">
    {% if paginator.page > 1 %}<li><a href="?page={{ paginator.page - 1 }}{% if not search is null %}&search={{ search }}{% endif %}">Previous</a></li>{% endif %}
    {% if paginator.page < paginator.total_pages %}<li><a href="?page={{ paginator.page + 1 }}{% if not search is null %}&search={{ search }}{% endif %}">Next</a></li>{% endif %}
</ul>