{% extends 'base.html.twig' %}
{% block content %}
<h1>Schools</h1>
<h2>Create School</h2>
{{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}
{{ form_widget(form) }}
{{ form_end(form) }}
<a href="{{ path('schools_index')}}">Back to Schools</a>
{% endblock %}
