{% extends 'base.html.twig' %}
{% block content %}
<h1>Schools</h1>
<h2>List of Schools</h2>
<a href="{{ path('schools_create') }}">
    <button class="btn btn-info">Create New School</button></a>
<table class="table">
    <thead>
        <tr>
            <th>School Name</th>
            <th>Year Founded</th>
            <th>City</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
    {% if schools|length > 0 %}
        {% for school in schools %}
            <tr>
                <td>{{ school.schoolName }}</td>
                <td>{{ school.yearFounded }}</td>
                <td>{{ school.city }}</td>
                <td>
                    <form action="{{ path('schools_delete', {id: school.id}) }}" method="POST">
                    <input type="hidden" name="_method" value="DELETE">
                    <button class="btn btn-default">Delete</button>
                    </form>
                </td>
            </tr>
        {% endfor %}
    {% else %}
        <td colspan="4">There are no schools yet.</td>
    {% endif %}
    </tbody>
</table>
    {% if schools|length > 0 %}
        {% include 'paginator.html.twig' %}
    {% endif %}
{% endblock %}