{% extends 'base.html.twig' %}
{% block content %}
<h1>Teachers</h1>
<h2>Edit Teacher</h2>
{{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}
{{ form_widget(form) }}
{{ form_end(form) }}
<a href="{{ path('teachers_index')}}">Back to Teachers</a>
{% endblock %}
