{% extends 'base.html.twig' %}
{% block content %}
<h1>Teachers</h1>
    <h2>List of Teachers</h2>
    <a href="{{ path('teachers_create') }}">
        <button class="btn btn-info">Create New Teacher</button></a>
    <form class="form form-inline pull-right" method="get" action="">
        <input type="text" class="form-control" name="search" placeholder="Search">
        <button class="btn btn-default">Search</button>
    </form>
    <table class="table">
        <thead>
        <tr>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Birth Date</th>
            <th>School Name</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        {% if teachers|length > 0 %}
            {% for teacher in teachers %}
                <tr>
                    <td>{{ teacher.firstName }}</td>
                    <td>{{ teacher.lastName }}</td>
                    <td>{{ teacher.birthDate|date('Y-m-d') }}</td>
                    <td>{{ teacher.school }}</td>
                    <td>
                        <form action="{{ path('teachers_delete', {id: teacher.id}) }}" method="POST">
                            <a class="btn btn-default" href="{{ path('teachers_edit', {id: teacher.id}) }}">Edit</a>
                            <input type="hidden" name="_method" value="DELETE">
                            <button class="btn btn-default">Delete</button>
                        </form>
                    </td>
                </tr>
            {% endfor %}
        {% else %}
            <td colspan="5">There are no teachers yet.</td>
        {% endif %}
        </tbody>
    </table>
    {% if teachers|length > 0 %}
        {% include 'paginator.html.twig' %}
    {% endif %}
{% endblock %}